<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded ">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Divvy</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item {{ Request::is('/') ? "active" : "" }}"><a class="nav-link" href="/">Home</a></li>
        </ul>
        <div class="justify-content-center">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Zoek..">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoeken</button>
            </form>
        </div>

            <!-- login -->
            <ul class="nav justify-content-end">
                @if (Auth::guest())
                    <li class="nav-item"><a class="nav-link" href="{{ route('login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ route('register') }}">Sign Up</a></li>
                @else
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ ucfirst(Auth::user()->username) }} <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @if(Auth::user()->hasRole('admin'))
                                <a class="dropdown-item" href="{{ route('admin') }}">Admin Panel</a>
                                <div class="dropdown-divider"></div>
                            @endif

                            <a class="dropdown-item" href="{{ route('profile', Auth::user()->username) }}">Mijn profiel</a>
                            <a class="dropdown-item" href="{{ route('account', Auth::user()->username) }}">Account</a>
                            <a class="dropdown-item" href="{{ route('messages', Auth::user()->username) }}">Berichten</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Favorieten</a>
                            <a class="dropdown-item" href="#">Collectie</a>
                            <a class="dropdown-item" href="#">Posts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Help</a>
                            <div class="dropdown-divider"></div>

                                <a class="btn btn-danger" href="{{ route('logout') }}" 
                                    onclick="event.preventDefault();
                                            document.getElementById('logout-form').submit();">
                                    Logout
                                </a>

                                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                    {{ csrf_field() }}
                                </form>

                        </div>
                    </li>
                @endif
            </ul>

             <div class="nav justify-content-end">
                <a href="{{ route('posts.create') }}" role="button" class="btn btn-success">Maak post</a>
            </div>

        </div><!-- /.navbar-collapse -->

</nav>
