<div class="popover" role="tooltip">
	<div class="arrow"></div>
	<h3 class="popover-title"></h3>
	<div class="popover-content"></div>
	<div class="popover-navigation">
		<div class="btn-group">
			<button class="btn btn-default" data-role="prev"><span class="glyphicon glyphicon-chevron-left"></span> Vorige</button>
			<button class="btn btn-default margin-left" data-role="next">Volgende <span class="glyphicon glyphicon-chevron-right"></span></button>
			<button class="btn btn-default" data-role="pause-resume" data-pause-text="Pause" data-resume-text="Resume">Pauzeer</button>
		</div>
		<button class="btn btn-danger" data-role="end">Stop</button>
	</div>
</div>