/*
|--------------------------------------------------------------------------
| base style
|--------------------------------------------------------------------------
|
*/

html, body {
    height: 100%;
    background-color: #e8e8e8;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    color: #31373a;
}

#divvy {
	display: flex;  /* use the flex model */
	min-height: 100%;
	flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

}

#body {
    flex: 1;
    margin-top: 85px;
}

h3 {
    font-weight: 600;
}

.h4-bottom {
    margin-bottom: 50px;
}

.btn-bottom {
    margin-bottom: 0.5em;
}

.margin-right {
    margin-right: 20px;
}

hr {
    border-color: #ccc;
}

.hr {
    border-bottom: 2px solid #777;
}

.d-inline {
    display: inline-block;
}

a {
    color: #31373a;
    text-decoration: none !important;
}

a:hover .btn-group { text-decoration: none }
a .btn-group:hover { text-decoration: none }
a:hover .btn-group .btn { text-decoration: none }
a .btn-group .btn:hover { text-decoration: none }

.btn { text-decoration: none }
.btn:hover { text-decoration: none }

.circle {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.center {
	text-align: center;
}

/*menu*/

.navbar {
    border-radius: 0;
}

.main-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.navbar-brand {
    padding: 0 15px;
    margin-top: -4px;
}

.home-hr {
    border-top: 2px solid #31373a;
}


/*
  |--------------------------------------------------------------------------
  | input and form
  |--------------------------------------------------------------------------
  */

.label-lg {
    text-align: center;
    width: 100%;
}

.input-lg {
    border-radius: 4px;
}

.avatar {
	width: 100%;
	border-radius: 4px;
}

/*input file css*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #55d1e9;
    border-color: #3fcbe6;
}
/* style 6 */

.inputfile-6 + label {
    color: #fff;
    padding: 5px 10px;
    background: #6cd7ec;
    border-radius: 4px;
    border: 0px;
    width: 100%;
}

.inputfile-6:actives + label {
    background: #fff;
    color: #31373a;
    border: 1px solid #31373a;
}

.inputfile-6 + label:hover {
    background: #50c0d6;
}

.inputfile-span {
    /*width: 100px;*/ 
    background: #fff;
    color: #3fcbe6;
    padding: 4px;
    border-radius: 4px;
}

/*
  |--------------------------------------------------------------------------
  | Cards, card header and body
  |--------------------------------------------------------------------------
  */

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    /*overflow: hidden;*/
    border: 0;
    margin: 0 0 1.5em;
}

.card-success {
    background: #4fc3ae !important;
    color: #fff;
}

.card-grey {
    background: #e3e3e3;
}

.card-top {
    border-radius: 6px 6px 0 0;
}

.card-header {
    padding: 1em 1em 0em;
}

.card-header h3 {
    margin-top: 5px;
}

.card-body {
    padding: 1em 2em 3em;
}

.card-bot-0 {
    margin: 0;
    box-shadow: none;
}


.alert-label {
    text-align: center;
    font-size: 1.25em;
}

.alert-label label {
    margin-bottom: 0;
}

.add-post-text {
    color: #fff!important;
}

.add-post-text i{
    font-size: 2em;
}

.add-post-text hr {
    border-color: #fff!important;
}

/*
  |--------------------------------------------------------------------------
  | User profile
  |--------------------------------------------------------------------------
  */
.backdrop {
    background: #4fc3ae;
    background-size: 
    width: 100%;
    padding: 3.5em 0 0;
    margin: -1.5em -15px 1.5em;
}

.back-cover-color {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 60vh;
    background: #4fc3ae;
}

.profile-header {
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

.profile-header .img-block {
}

.profile-header .text-block {
    display: inline-block;
    margin-left: 1.5em;
}

.profile-header img {
    width: 180px;
}

.profile-body {
    padding: 10px;
}

.profile-nav .active a,
.profile-nav .active a:hover {
    background: #e8e8e8!important;
}

.profile-tabs h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*
  |--------------------------------------------------------------------------
  | User account
  |--------------------------------------------------------------------------
  */

.account-header {
    color: #fff;
}

.account-nav h4 {
    margin-bottom: 10px;
}

.prev-avatar {
    text-align: center;
    margin-bottom: 15px;
}

.prev-avatar img {
    width: 150px;
    border-radius: 4px;
}

/*
|--------------------------------------------------------------------------
| Nav bar
|--------------------------------------------------------------------------
|
*/

.navbar-fixed-top {
    padding: 10px 10px 5px;
    background-color: #fff;
}

.navbar-toggle {
	border: none;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
	background: #fff;
}

/*
|--------------------------------------------------------------------------
| Login/ register
|--------------------------------------------------------------------------
|
*/
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-bottom: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 15px;
}

@media (max-width: 992px) {
    .social-col {
        margin: 0 -15px 0 -15px;
    }
}

/*
|--------------------------------------------------------------------------
| Home cover
|--------------------------------------------------------------------------
|
*/
.cover {
    margin-top: -35px;
    height: 60vh;
    min-height: 400px;
    overflow: hidden;
    position: relative;
}

.cover .image {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    z-index: 2;
    position: absolute;
	background: url('../img/cover.jpg')center center/cover no-repeat;
	display: block;
}

.cover .container {
	z-index: 3;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.cover .content {
	text-align: center;
	position: relative;
    top: 30%;
    color: #fff;
}

/* search */
.cover .search-box {
	margin-top: 20px;
	border-radius: 6px;
    background: #fff;
    border: 3px solid #fff;
}

.cover .form-control {
	border: none;
}

.cover .form-control:focus {
	border: none;
}

.cover .input-group .btn {
	background: #fff;
	color: 	#777;
	outline: none;
	border-radius: 4px !important;
	transition: all 0.5s ease;
}

.cover .input-group .btn:hover,
.cover .input-group .btn:focus {
    color: #fff;
    background: #46d8ad;
    box-shadow: none;
}

/*
|--------------------------------------------------------------------------
| Tumbnails
|--------------------------------------------------------------------------
|
*/

/* masonry grid */
.post-tumb-con {
  background: #fff;
/*  display: inline-block;*/
  padding: 0.5em;
  margin: 0 0 1.5em;
  text-align: center;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.post-tumb-con:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.post-desc {
    margin-top: 10px;
    height: 75px;
    overflow: hidden;
}

.post-desc .title {
    font-size: 15px;
    font-weight: 600;
}

.post-desc .author {
    font-size: 13px;
    color: #aba2a4;
}

.post-desc .category {
    font-size: 13px;
    color: #aba2a4;
}

.post-desc hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-meta li {
    margin: 0.5em 0 0;
}

.post-tumb-btn {

}


/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
|
*/

.input-group-lg .form-control {
	border-radius: 4px;
}

.form-control {
	box-shadow: none;
	transition: all 0.5s ease;
}

.form-control:focus {
	border: 1px solid #777;
	box-shadow: none;
}

/*
|--------------------------------------------------------------------------
| well
|--------------------------------------------------------------------------
|
*/
.well-info {
    overflow: hidden;
}

.well-left {
	width: 50%;
	float: left;
	text-align: right;
	padding: 0 5px 0 10px;
}

.well-right {
	width: 50%;
	float: right;
	text-align: left;
	padding: 0 10px 0 5px;
}

/*
|--------------------------------------------------------------------------
| Back to top
|--------------------------------------------------------------------------
|
*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1050;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.footer {
    background: #31373a;
    color: 	#777;
    line-height: 20px;
    overflow: hidden;
    padding-top: ;
    margin-top: 30px;
}

.footer .info {
    margin-top: 20px;
}

.footer h5 {
	color: #DDDDDD;
}

.footer hr {
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: #777;
}

.footer .container> hr {
    margin-top: 50px;
    color: #777;
}

.footer nav> ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.footer nav> ul a {
    color: #777;
    display: block;
    margin-bottom: 3px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer .input-group {
    margin: 15px auto;
    max-width: 350px;
}

.footer .form-control {
	border: none;
}

.footer .input-group .btn {
	height: 34px;
}

.footer nav> ul a:hover,
.footer nav> ul a:focus {
    color: #DDDDDD;
}

.footer nav > ul .btn-social {
    padding: 0;
    display: inline-block;
}

.copyright {
	color: #777;
	padding: 10px 15px;
    margin: 10px 0px 20px;
    line-height: 20px;
    text-align: center;
}

@media (max-width: 767px) {

	/*footer*/
    .footer {
        text-align: center;
    }

    .footer h5 {
		margin-top: 20px;
	}
}