/*
  |--------------------------------------------------------------------------
  | Main styling
  |--------------------------------------------------------------------------
  */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  background: #f1f1f1;
}

a {
    color: #000;
    text-decoration: none !important;
}

a:hover .btn-group { text-decoration: none }
a .btn-group:hover { text-decoration: none }
a:hover .btn-group .btn { text-decoration: none }
a .btn-group .btn:hover { text-decoration: none }

/* Box hover shadow */
.hover-shadow {
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-shadow:hover::after {
    opacity: 1;
}

/* navbar */
.flash-container {
    z-index: 1500;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: absolute;
    width: 100%;
    max-width: 970px;
}

.main-container {
  margin-top: 70px; /* 50px = navigation height */ 
}

/*login*/
.social-col {
  padding: 0 10px 0 10px;
}

/*
  |--------------------------------------------------------------------------
  | Bootstrap override
  |--------------------------------------------------------------------------
  */


.btn {
  border-radius: 2px;
}

/* modal */

.modal-content {
  border-radius: 2px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
    border-top: none;
    background-color: #f2f2f2;
}

.btn-right {
    margin-left: 5px;
}

/*
  |--------------------------------------------------------------------------
  | Homepage
  |--------------------------------------------------------------------------
  */

.cover {
  margin-top: ;
}

/* masonry grid */
.post-tumb-con {
  background: #fff;
  display: inline-block;
  padding: 1em;
  margin: 0 0 1.5em;
  text-align: center;
}

.post-desc h4 {
    margin-bottom: 5px;
}

.post-meta li {
    margin: 0.25em;
}

.btn-add-post a {
    color: #fff;
}

/*
  |--------------------------------------------------------------------------
  | Home slider
  |--------------------------------------------------------------------------
  */

.carousel{
    background: #2f4357;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-inner{
  height: 60vh;
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    width: 100%;
    min-width: 900px;
}

/*
  |--------------------------------------------------------------------------
  | Footer
  |--------------------------------------------------------------------------
  */

.footer {
  position: absolute;
  padding: 15px 0 0 0;
  bottom: 0;
  width: 100%;  /* Set the fixed height of the footer here */
  height: 140px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #474949;
  color: #777;
}

.footer li {
  display:  block;
  list-style: none none none;
  padding: 0;
  line-height: 2em;
  border: 0;
  background-color: transparent;
  color: #fff !important;
}