/*
|--------------------------------------------------------------------------
| Posts
|--------------------------------------------------------------------------
|
*/
.post {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.post-body {
    position: relative;
}

.post hr {
    border-top: 1px solid #ddd;
}

.card h4 {
    font-weight: 600;
    /*margin-bottom: 0;*/
}

.card img {
    width: 100%;
}

/*
|--------------------------------------------------------------------------
| Post header
|--------------------------------------------------------------------------
|
*/
.post-header {
    border-radius: 6px 6px 0 0;
}

.post-title {
    text-align: center;
}

.post-title h2>small {
    font-size: 55%;
    color: #e6e6e6;
}

.post-title h2>small>a {
    color: #fff;
}

.post-cover {
  max-height: 60vh;
  overflow: hidden;
  position: relative;
}

.post-cover .image {

}

.post-cover .container {
    z-index: 3;
    position: absolute;
    padding-top: 5px;
    width: 100%;
    top: 0;
}

.post-cover .cover-btn {
    padding: 0.4em;
    margin: 10px;
    background: transparent;
    display: inline-flex;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: all 0.5s ease;
    color: #fff;
    font-size: 1.5em;
}

.post-cover .cover-btn:hover {
    background: #fff;
    color: #000;
}

.post-comments {
    padding: 0.5em 2em;
    border-radius: 0 0 6px 6px;
}

.post-comments form {
    overflow: hidden;
}

.post-comments-footer {
    padding: 25px 0 20px;
}

.comment-reply {
/*    padding: 0.5em 2em;
*/    margin-top: 10px;
    background: none;
    border-radius: 6px;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| navigation
|--------------------------------------------------------------------------
|
*/
.post-navbar {
    padding: 0.5em 0.5em 0em;
}

/*Steps*/
.step-header {
    width: 100%;
    max-height: 400px;
    overflow-y: hidden;
}

.step-content {
    margin-bottom: 2em;
    padding: 1em 3em 3em;

}

/*
|--------------------------------------------------------------------------
| footer
|--------------------------------------------------------------------------
|
*/
.post-footer {
    display: none;
}

.post-footer .pager {
    padding: 10px;
}

/*
|--------------------------------------------------------------------------
| Create page
|--------------------------------------------------------------------------
|
*/
.stepbox {
    background: #fff;
    cursor: move;

    padding: 1em;
    margin: 0 0 1.5em;
}

#title {
    text-align: center!important;
    /*border: 1px solid #fff;*/
    background: #fafafa;
}

.label-lg h4{
    font-weight: 600;
    font-size: 2em;
}

#TextBoxesGroup textarea {
    background: #fafafa;
}

#TextBoxesGroup input {
    background: #fafafa;
}

/*.stepbox .dropzone {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px dashed #777;
}*/

/*
|--------------------------------------------------------------------------
| Show page
|--------------------------------------------------------------------------
|
*/

/* sticky steps bar */
/*.affix {
    position: fixed;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
}*/

blockquote {
    padding: 1.5em;
}

/*
|--------------------------------------------------------------------------
| Upload box
|--------------------------------------------------------------------------
|
*/
.feat-img-box {
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
}

.dropzone {
    border: 2px dashed #222;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 54px 54px;
    background: #fafafa;
}

.dropzone .dz-message {
    text-align: center;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

/*cover image upload*/

.hovercover{
    display:inline-block;
    position:relative;
    overflow: hidden;
}
.hovercover1{
    display:inline-block;
    position:relative;
    overflow: hidden;
}
.hover-div{
    position: absolute;
    right: 1%;
    bottom: 1%;
}
 
#file-upload{
    display: none;
}
.custom-file-upload {
    
    display: inline-block;
    padding: 6px 12px;
    background-color: #c74d4e;
    cursor: pointer;
    color :#fff;
     
}
 
#bgimage {
height: 300px;
position: relative;
overflow: hidden;
background-color:#ffffff;
}
 
#adjimage {
height: 300px;
width:100%;
position: relative;
overflow: hidden;
background-color:#ffffff;
}
 
#timelineBackground {
height: 300px;
position: relative;
overflow: hidden;
background-color:#ffffff;
}
#timelineShade {
min-height: 95px;
position: absolute;
margin-top: -95px;
width: 100%;
}
.timelineUploadBG {
position: absolute;
margin-top: 50px;
margin-left: 813px;
height: 32px;
width: 32px;
}
 
.uploadFile input {
filter: alpha(opacity=0);
opacity: 0;
margin-left: -110px;
}
.custom-file-input {
height: 25px;
cursor: pointer;
}
#timelineBGload{
position: relative;
overflow: hidden;
background-color:#ffffff;
}
.headerimage{
    cursor: move;
}
.btn-save-drag{
    position: absolute;
    
    right: 1%;
    bottom: 1%;
}

/*
|--------------------------------------------------------------------------
| Post well
|--------------------------------------------------------------------------
|
*/

.post-auth {
    overflow: hidden;
}

.auth-tumb {
  margin-top: 10px;
}

.auth-tumb img {
    width: 70px;
}

.auth-body {
  margin-top: 10px;
}

.auth-body h4 {
    margin: 0 0 0.5em;
}

.post-social .btn {
    padding: 5px;
}

.post-social i{
    font-size: 2em;
}

.post-well.affix-top {
    position: static;
    padding: 1em;
    min-height: 400px; /*preview*/
}

.post-well.affix {
    position: fixed;
    top: 20px;
    width: 100%;
    max-width: 360px;

    padding: 1em;
    min-height: 400px; /*preview*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px) {
    .post-well.affix {
        max-width: 293px;
    }
}

@media only screen and (max-width : 992px) {
    .post-well.affix {
        position: static;
        max-width: none;
        top: none;
    }
}

.post-well .post-meta {
    text-align: center;
    display: none;
}


.post-related {
    overflow: hidden;
}

.post-related img {
    width: 33.33%;
    max-width: 150px;
    float: left;
    padding: 5px;
}

/*
|--------------------------------------------------------------------------
| Comments
|--------------------------------------------------------------------------
|
*/
.comment {
    margin-bottom: 20px;
}

.comment-tumb {
    width: 60px;
    margin: 0 12px 0 0;
    padding-bottom: 10px;
    float: left;
}

.comment-tumb img {
    width: 60px;
}

.comment-body {
    overflow: hidden;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    background: #f9f9f9;
}

.comment-body h4 {
    margin: 0 0 0.2em;
}

.comment-body h4 small {
    font-size: 65%;
}

.comment-body>a {
    color: #777;
    margin-right: 0.75em;
}

#comment-box {
  height: 2.75em;
  transition: height .3s ease-out;
  margin-bottom: 10px;
  overflow: hidden;
  resize: vertical;

  border-color: #fff;
}